.shop-item {
  border-radius: 10px;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.20);
  max-width: 280px;

  &__img {
    background: url("/src/assets/img/png/shop-item-default.png");
    width: 280px;
    height: 280px;

    @media (max-width: 1400px) {
      width: auto;
      background-size: contain;
      background-repeat: no-repeat;
    }

    @media (max-width: 1300px) {
      background-repeat: repeat;
    }

    @media (max-width: 1050px) {
      background-repeat: no-repeat;
    }
  }

  &-box {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 170px;

    &-text {
      &__title {
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: var(--black);
      }

      &__subtitle {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        color: var(--black);
        opacity: 0.5;
        display: -webkit-box;
        -webkit-line-clamp: 2; // количество строк
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    &-price {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__text {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        color: var(--black);
      }

      &__img {
        background: url("/src/assets/img/svg/basket.svg");
        width: 17px;
        height: 20px;
        cursor: pointer;
      }
    }
  }

  &.item_basket {
    display: flex;
    max-width: 500px;
    height: 200px;
    box-shadow: none;
    position: relative;
    border-radius: 0;
    margin-bottom: 20px;

    .shop-item__img {
      width: 200px;
      height: 200px;
      background-size: contain;

      @media (max-width: 576px) {
        width: 150px;
        height: 150px;
      }
    }

    .shop-item-box {
      width: 300px;
      height: 200px;

      @media (max-width: 576px) {
        height: 150px;
        width: 200px;
        padding: 10px;
      }

      .shop-item-box-text__title {
        @media (max-width: 576px) {
          font-size: 22px;
        }
      }

      .shop-item-box-text__subtitle {
        @media (max-width: 576px) {
          font-size: 12px;
        }
      }
    }

    .shop-item__close {
      width: 15px;
      height: 15px;
      background: url("/src/assets/img/svg/close.svg");
      position: absolute;
      right: 5px;
      top: 5px;
      cursor: pointer;
    }
  }
}