<script setup>
import {useStore} from '/src/store/Store.js'
import {basketStore} from '/src/store/Basket.js'

const Store = useStore()
const Basket = basketStore()
const props = defineProps({
  shop: {
    type: Object,
    required: true,
    default: () => {
    }
  },
  basket: false,
})
</script>

<template>
  <div class="shop-item" :class="{item_basket: basket}">
    <div class="shop-item__img"></div>

    <div class="shop-item-box">
      <div class="shop-item-box-text">
        <div class="shop-item-box-text__title">
          {{ shop.title }}
        </div>

        <div class="shop-item-box-text__subtitle">
          {{ shop.description }}
        </div>
      </div>

      <div class="shop-item-box-price">
        <div class="shop-item-box-price__text">
          {{ shop.price }} ₽
        </div>

        <div class="shop-item-box-price__img" @click="Store.itemBasketAdd(shop)" v-if="!props.basket"></div>
      </div>
    </div>

    <div class="shop-item__close" @click="Basket.basketDeleteShop(shop.id)" v-if="props.basket"></div>
  </div>
</template>

<style scoped lang="scss">
@import "ShopItem";
</style>