<script setup>
import {basketStore} from '/src/store/Basket.js'
import ShopItem from "../components/ShopItem/ShopItem.vue";

const Basket = basketStore()
</script>

<template>
<div class="basket">
  <div class="container">
  <div class="basket-inner">
    <ShopItem v-for="shop of Basket.shop" :key="shop.id" :shop="shop" :basket="true"></ShopItem>
  </div>
  </div>
</div>
</template>

<style scoped lang="scss">
@import "styles/Basket";
</style>