.container {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  padding: 0 10px;

  @media (max-width: 860px) {
    max-width: 750px;
  }

  @media (max-width: 576px) {
    max-width: 343px;
    padding: 0;
  }
}

html {
  margin: 0;
  scroll-behavior: smooth;
}

.body {
  overflow-x: hidden;
}

body,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}

a {
  text-decoration: none;
}