.shop {
  margin-bottom: 50px;

  @media (max-width: 1460px) {
    padding: 0 10px;
  }

  &-array {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    column-gap: 100px;
    row-gap: 40px;
    margin-bottom: 40px;

    @media (max-width: 1460px) {
      column-gap: 80px;
      grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
      place-items: center;

    }
  }

  &-inner {
    &-box {
      display: flex;
      justify-content: flex-end;
    }

    &__btn {
      padding: 3px 18px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      border-radius: 4px;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: var(--grey);
      background-color: #fff;
      border: none;
      cursor: pointer;
    }
  }
}