<script setup>
import {useStore} from '/src/store/Store.js'
import ShopItem from "../ShopItem/ShopItem.vue";
import {ref} from "vue";
const Store = useStore()
Store.getShop()

let addItem =  ref(4)
function isAddItem() {
  addItem.value += 4;
}
</script>

<template>
<div class="shop">
  <div class="container">
    <div class="shop-inner">
      <div class="shop-array">
        <ShopItem v-for="shop of Store.shop.slice(0, addItem)" :key="shop.id" :shop="shop"></ShopItem>
      </div>

      <div class="shop-inner-box">
      <button class="shop-inner__btn" v-if="Store.shop.length >= addItem" @click="isAddItem">
        Показать еще
      </button>
      </div>
    </div>
  </div>
</div>
</template>

<style scoped lang="scss">
@import "ShopItems";
</style>