.header {
  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 20px;

    &__img {
      background: url("/src/assets/img/svg/logo.svg");
      width: 145px;
      height: 40px;
    }
  }

  &-menu {
    &-list {
      &-item {
        display: inline-block;

        & + & {
          margin-left: 24px;
        }

        &__link {
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
          color: var(--black);
        }
      }
    }
  }

  .btn_active {
    a {
      color: var(--active);
      transition: 0.2s all;
    }
  }
}