<script setup>
import {useStore} from '/src/store/Store.js'

const Store = useStore()
</script>

<template>
  <div class="header">
    <div class="container">
      <div class="header-inner">
        <div class="header-inner__img"></div>

        <div class="header-menu">
          <ul class="header-menu-list">
            <li class="header-menu-list-item">
              <router-link to="/" :class="{btn_active: Store.activeTab === 1}">
                <a class="header-menu-list-item__link"
                   @click="Store.setActiveTab(1)"
                >
                  Главная
                </a>
              </router-link>
            </li>

            <li class="header-menu-list-item">
              <router-link to="/basket" :class="{btn_active: Store.activeTab === 2}">
                <a class="header-menu-list-item__link"
                   @click="Store.setActiveTab(2)"
                >
                  Корзина
                </a>
              </router-link>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import "Header";
</style>