<script setup>
import Header from "./components/Header/Header.vue";
</script>

<template>
  <Header></Header>

  <router-view></router-view>
</template>

<style lang="scss">
@import "styles/global";
@import "styles/vars";
</style>
